:root {
    --highlight-color-1: #2e456f;
    --highlight-color-2: #2e456f;
    --action-color-1: #FF0000;
    --action-color-2: #00CC00;

    --highlight-color-1--text: white;
    --highlight-color-2--text: white;
    --action-color-1--text: white;
    --action-color-2--text: white;
}